body, h1, a, p {
    margin: 0;
    text-decoration: none;
}

body{
    text-align: center;
    background-image: url('img/fundo.png');
}
#navegacao{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}